@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans antialiased bg-slate-900 text-slate-400;
  }

  a {
    @apply transition-colors;
  }
  a:hover,
  a:focus {
    @apply transition-colors text-slate-200 duration-200;
  }
}

#root {
  @apply flex flex-col min-h-screen;
}
